@import "../../styles/flex.scss";
.banner {
  @include flexProps(flex, row, center, space-evenly, wrap);
  width: 100%;
  max-width: 1600px;
  margin-bottom: 20px;
  background-color: brown;
  .banner__image {
    width: 100%;
    align-items: center;
  }
}
